

small{
    color: red;
}

nav{
    padding: 0.5em;
}

nav li {
    padding: 0.5em;
}

#login-nav{
    display: flex;
    flex-direction: row;
}

nav div ul{
    display: flex;
    justify-content: space-around;
}

/* Optional custom styles for navbar */
.navbar {
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}

.navbar-brand {
    font-size: 1.5rem; /* Increase font size for brand */
    font-weight: bold;
}

.nav-link {
    font-size: 1rem; /* Standard font size for links */
    transition: color 0.3s ease-in-out; /* Smooth transition for hover effect */
}

.nav-link:hover {
    color: #ffc107 !important; /* Highlight link on hover (Bootstrap warning color) */
}

a:hover{
    cursor: pointer;
}

/* Mobile Bottom Bar styling */
.mobile-bottom-bar {
    background-color: #343a40;
    color: #fff;
    padding: 0.5em;
    position: fixed;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

.bottom-bar-content {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 0.9rem;
}

.mobile-bottom-bar a,
.mobile-bottom-bar button {
    margin-left: 10px;
}

@media (max-width: 768px) {

    button{
        height: 42px;
        width: auto;
    }

}

@media (min-width: 769px) {
    /* Hide mobile bottom bar on larger screens */
    .mobile-bottom-bar {
        display: none;
    }
}
