<h1>Login</h1>

<form (ngSubmit)="onSubmit()" [formGroup]="loginForm">
  <fieldset class="form-group">
    <label for="username" class="col-2 control-label">Username: *</label>
    <input formControlName="username" name="username" id="username" required />
  </fieldset>

  <fieldset class="form-group">
    <label for="password" class="col-2 control-label">Password: *</label>
    <input
      formControlName="password"
      name="password"
      id="password"
      type="password"
      required
    />
  </fieldset>

  <fieldset class="form-group">
    <button class="btn btn-info offset-3" type="submit">Login</button>
    <hr />
    Need an account?
    <a routerLink="/register" title="Register">Register</a>
  </fieldset>

  <fieldset class="form-group">
    <a routerLink="/forgot-password">Forgot Password?</a>
  </fieldset>
</form>

<div *ngIf="errorMessage" class="alert alert-danger">
  {{ errorMessage }}
</div>

