fieldset {
    margin: 1.25em;
}

.card {
    border: 1px solid #ced4da;
    /* Light border color */
    border-radius: 0.25rem;
    /* Rounded corners */
}

.card-header {
    background-color: #f8f9fa;
    /* Light background color */
    border-bottom: 1px solid #dee2e6;
    /* Border color for separation */
}