<div class="svg-container">
    <!-- SVG curve -->
    <svg viewBox="0 0 800 400" class="svg"> <!-- Increased height by adjusting viewBox -->
      <path id="curve" fill="#787473" d="M 800 300 Q 400 400 0 300 L 0 0 L 800 0 L 800 300 Z"></path>
    </svg>
    
    <!-- Centered content inside the SVG -->
    <div class="content-inside-svg d-flex flex-column justify-content-center align-items-center text-white">
      <h2>Resumes should be easier. Now they can be.</h2>
      <p>You've got a dictionary in one hand and a thesaurus in the other. Meanwhile,
        you're frantically scouring google to figure out which buzzwords&trade; employers are
        searching for this week. Stop stressing. We've got you.
      </p>
    </div>
  </div>
  
  <div class="container-fluid content-section d-flex flex-column justify-content-center align-items-center">
    <div class="jumbotron text-center mt-5">
      <h1 class="display-4">Welcome to the Resume Builder!</h1>
      <p class="lead">Create a professional resume with just a few easy steps.</p>
      <a class="btn btn-primary btn-lg" routerLink="/resume/basic-info" role="button">Get Started</a>
    </div>
  
    <div class="text-center mt-4">
    <p class="lead">Already started? Jump to where you left off.</p>  
      <a class="btn btn-outline-secondary" routerLink="/resume/education">Education</a>
      <a class="btn btn-outline-secondary ml-2" routerLink="/resume/experience">Experience</a>
      <a class="btn btn-outline-secondary ml-2" routerLink="/resume/volunteer">Volunteer</a>
      <a class="btn btn-outline-secondary ml-2" routerLink="/resume/skills">Skills</a>
    </div>
  </div>
  