<div class="svg-container">
    <!-- SVG curve -->
    <svg viewBox="0 0 800 400" preserveAspectRatio="none" class="svg">
      <path id="curve" fill="#8ad6f280" d="M 800 300 Q 400 350 0 300 L 0 0 L 800 0 L 800 300 Z"></path>
    </svg>
    
    
  <!-- Centered content inside the SVG -->
  <div class="content-inside-svg d-flex flex-column justify-content-center align-items-center text-white">
    <h2>Resumes should be easier. Now they can be.</h2>
    <p id="typingParagraph" [innerHTML]="typedText"></p>
  </div>
</div>


<div class="blurb-section">
    <div class="blurb-content">
      <h3>Why I Built This</h3>
      <p>
        Creating a resume can be tedious and time-consuming. Every moment spent crafting the perfect format and wording is precious time that could be spent applying to jobs. 
        That's why I built this tool— to make the resume creation process faster and easier, so you can focus on what really matters.
      </p>
    </div>
  </div>


  <div id= "jumbo" class="container-fluid content-section d-flex flex-column justify-content-center align-items-center">
    <div class="jumbotron text-center mt-5">
      <h1 class="display-4">Welcome to the Resume Builder!</h1>
      <p class="lead">Create a professional resume with just a few easy steps.</p>
      <a class="btn btn-primary btn-lg" routerLink="/resume/basic-info" role="button">Get Started</a>
    </div>
  
    <div class="text-center mt-4">
    <p class="lead">Already started? Jump to where you left off.</p>  
      <a class="btn btn-outline-secondary" routerLink="/resume/education">Education</a>
      <a class="btn btn-outline-secondary ml-2" routerLink="/resume/experience">Experience</a>
      <a class="btn btn-outline-secondary ml-2" routerLink="/resume/volunteer">Volunteer</a>
      <a class="btn btn-outline-secondary ml-2" routerLink="/resume/skills">Skills</a>
      <a class="btn btn-outline-secondary ml-2" routerLink="/resume/miscellaneous">Miscellaneous</a>
    </div>
  </div>

  