<h1 class="title bg-second bg-gradient">About Resume Builder</h1>

<section class="about-section bg-light bg-gradient">
  <h2>How does it work?</h2>
  <p>
    We take your info provided in the fields and use it to curate a polished,
    professional resume. You can also download the resume as a Word document.
    The more information you provide, the more detailed the resume we create
    for you. If you include nonsense, don’t expect anything worth submitting
    for employment!
  </p>
</section>

<section class="about-section bg-second">
  <h2>So then I can just take the created resume and start submitting?</h2>
  <p>
    I did my best to create a web app that gives you a great resume. But, you
    should proofread and add your own personal touch!
  </p>
  <p>
    You're disappointed? Well now you just sound like my parents.
  </p>
</section>

<section class="about-section bg-light last-section">
  <h2>What's Next?</h2>
  <p>
    I plan to add multiple formatting options for the resume downloads. I’ll
    be continually improving the content based on user feedback and needs.
  </p>
</section>
